<p><%= link_to 'New', new_article_path %></p>

<ul>
  <% @articles.each do |article| %>
    <!-- article_path calls the show action.
     article gets its id parsed out and passed b/c it's an ActiveRecord.
     You could do article.id or just pass in an id -->
    <li><%= link_to article.name, article_path(article) %></li>
  <% end %>
</ul>

